<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Analysis"
            visible="true"
            id="com.rockwellcollins.spear.translate.actionSet">
         <menu
               label="SpeAR"
               id="translateMenu">
            <separator name="translateGroup">
            </separator>
         </menu>
         <action
               label="&amp;Generate Excel"
               icon="icons/spreadsheet.png"
               class="com.rockwellcollins.spear.translate.actions.GenerateExcel"
               tooltip="Generate Excel"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.GenerateExcel">
         </action>
         <action
               label="&amp;Generate PDF"
               icon="icons/document.png"
               class="com.rockwellcollins.spear.translate.actions.GeneratePDF"
               tooltip="Generate PDF"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.GeneratePDF">
         </action>
         <action
               label="&amp;Graphical View"
               icon="icons/graphical.png"
               class="com.rockwellcollins.spear.translate.actions.GenerateGraph"
               tooltip="Generate Graphical View"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.GenerateGraph">
         </action>       
         <action
               label="&amp;Check Realizability"
               icon="icons/realizability.png"
               class="com.rockwellcollins.spear.translate.actions.CheckRealizability"
               tooltip="Check Realizability"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.CheckLogicalEntailment">
         </action>
         <action
               label="&amp;Check Logical Consistency"
               icon="icons/logical_consistency.png"
               class="com.rockwellcollins.spear.translate.actions.CheckLogicalConsistency"
               tooltip="Check for Logical Consistency"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.CheckConsistency">
         </action>
         <action
               label="&amp;Check Logical Entailment"
               icon="icons/logical_entailment.png"
               class="com.rockwellcollins.spear.translate.actions.CheckLogicalEntailment"
               tooltip="Check for Logical Entailment"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.CheckLogicalEntailment">
         </action>
      </actionSet>
   </extension>
    <extension point="org.eclipse.ui.views">
      <category
            id="com.rockwellcollins.spear.translate"
            name="SpeAR View">
      </category>
        <view
              category="com.rockwellcollins.spear.translate"
              class="com.rockwellcollins.spear.translate.views.SpearEntailmentResultsView"
              icon="icons/logical_entailment.png"
              id="com.rockwellcollins.spear.translate.views.SpearEntailmentResultsView"
              name="Entailment Analysis Results"/>
        <view
              category="com.rockwellcollins.spear.translate"
              class="com.rockwellcollins.spear.translate.views.SpearConsistencyResultsView"
              icon="icons/logical_consistency.png"
              id="com.rockwellcollins.spear.translate.views.SpearConsistencyResultsView"
              name="Consistency Analysis Results"/>
        <view
              category="com.rockwellcollins.spear.translate"
              class="com.rockwellcollins.spear.translate.views.SpearRealizabilityResultsView"
              icon="icons/realizability.png"
              id="com.rockwellcollins.spear.translate.views.SpearRealizabilityResultsView"
              name="Realizability Analysis Results"/>              
		<view
              category="com.rockwellcollins.spear.translate.lustre"
              class="com.rockwellcollins.spear.translate.views.SpearCounterexampleView"
              icon="icons/counterexample.png"
              id="com.rockwellcollins.spear.translate.views.SpearCounterexampleView"
              name="Counterexample"/>
        <view
              category="com.rockwellcollins.spear.translate.lustre"
              class="com.rockwellcollins.spear.translate.views.SpearTraceabilityMatrixView"
              icon="icons/spreadsheet.png"
              id="com.rockwellcollins.spear.translate.views.SpearTraceabilityMatrixView"
              name="Traceability Matrix"/>            
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SpeAR Commands"
            id="com.rockwellcollins.spear.translate.commands">
      </category>
     <command categoryId="com.rockwellcollins.spear.translate.commands"
           description="Translate a Pattern to Lustre and Analyze"
           id="com.rockwellcollins.spear.translate.commands.analyzePattern"
           name="Analyze SpeAR Pattern">
     </command>  
     <command categoryId="com.rockwellcollins.spear.translate.commands"
           description="Analyze Type"
           id="com.rockwellcollins.spear.translate.commands.analyzeType"
           name="Check Type Validity">
     </command>
     <command categoryId="com.rockwellcollins.spear.translate.commands"
           description="Terminate Analysis"
           id="com.rockwellcollins.spear.translate.commands.terminateLogicalEntailment"
           name="Cancel Analysis">
     </command>   
     <command categoryId="com.rockwellcollins.spear.translate.commands"
           description="Terminate Analysis"
           id="com.rockwellcollins.spear.translate.commands.terminateLogicalConsistency"
           name="Cancel Analysis">
     </command>   
     <command categoryId="com.rockwellcollins.spear.translate.commands"
           description="Terminate Analysis"
           id="com.rockwellcollins.spear.translate.commands.terminateRealizability"
           name="Cancel Analysis">
     </command>   

        
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
          <command
                commandId="com.rockwellcollins.spear.translate.commands.analyzePattern"
                icon="icons/logical_entailment.png"
                id="com.rockwellcollins.spear.translate.commands.analyzePattern"
                style="push">
          </command>
          <command
                commandId="com.rockwellcollins.spear.translate.commands.analyzeType"
                icon="icons/fire.png"
                id="com.rockwellcollins.spear.translate.commands.analyzeType"
                style="push">
          </command>
      </menuContribution> 
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.rockwellcollins.spear.translate.views.SpearEntailmentResultsView">
         <command
               commandId="com.rockwellcollins.spear.translate.commands.terminateLogicalEntailment"
               icon="icons/terminate.png"
               label="Terminate"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.rockwellcollins.spear.translate.views.SpearConsistencyResultsView">
         <command
               commandId="com.rockwellcollins.spear.translate.commands.terminateLogicalConsistency"
               icon="icons/terminate.png"
               label="Terminate"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.rockwellcollins.spear.translate.views.SpearRealizabilityResultsView">
         <command
               commandId="com.rockwellcollins.spear.translate.commands.terminateRealizability"
               icon="icons/terminate.png"
               label="Terminate"
               style="push">
         </command>
      </menuContribution>      
            
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.rockwellcollins.spear.translate.commands.analyzePattern"
            class="com.rockwellcollins.spear.translate.handlers.AnalyzePattern">
      </handler>
      <handler
            commandId="com.rockwellcollins.spear.translate.commands.analyzeType"
            class="com.rockwellcollins.spear.translate.handlers.AnalyzeType">
      </handler>
   </extension>
  
</plugin>
